extends includes/layout
block content
    .widgets
        include widgets/time
        include widgets/stadium
        include widgets/temperature
        include widgets/humidity
        include widgets/light
        include widgets/layout
        include widgets/water
        include widgets/fertilizer
        include widgets/parameters
        include widgets/schedule
        include widgets/buttons