.head
    .title Kameras
    .close
        i.fa-duotone.fa-times
.content
    .split_2_2
        .video
            img(src="assets/media/demo/camera.png")
        .video
            img(src="assets/media/demo/camera.png")
        .video
            img(src="assets/media/demo/camera.png")
        .video
            img(src="assets/media/demo/camera.png")