.head
    .title(i18n='title')
    .close
        i.fa-duotone.fa-times
.content
    | KOSTEN...
.footer
    button.close(type="button")
        span(i18n='button.abort.label')
        i.fa-duotone.fa-times