.head
    .title(i18n='title')
    .close
        i.fa-duotone.fa-times
.content

.footer
    button(type="button" data-modal='settings/inventory/place' data-reopen-url='settings/inventory')
        span Zelt
        i.fa-duotone.fa-campground
    button(type="button" data-modal='settings/inventory/light' data-reopen-url='settings/inventory')
        span Licht
        i.fa-duotone.fa-lightbulb
    button(type="button" data-modal='settings/inventory/fan' data-reopen-url='settings/inventory')
        span Umluft
        i.fa-duotone.fa-sync
    button(type="button" data-modal='settings/inventory/exhaust' data-reopen-url='settings/inventory')
        span Abluft
        i.fa-duotone.fa-fan
    button(type="button" data-modal='settings/inventory/filter' data-reopen-url='settings/inventory')
        span Filter
        i.fa-duotone.fa-filter
    button(type="button" data-modal='settings/inventory/pot' data-reopen-url='settings/inventory')
        span Töpfe
        i.fa-duotone.fa-honey-pot
    button(type="button" data-modal='settings/inventory/soil' data-reopen-url='settings/inventory')
        span Erde
        i.fa-duotone.fa-mountains
    button(type="button" data-modal='settings/inventory/fertilizer' data-reopen-url='settings/inventory')
        span Dünger
        i.fa-duotone.fa-flask
    button(type="button" data-modal='settings/inventory/water' data-reopen-url='settings/inventory')
        span Wasser
        i.fa-duotone.fa-raindrops
    button.save(type="submit")
        span(i18n='button.save.label')
        i.fa-duotone.fa-floppy-disk
    button.close(type="button")
        span(i18n='button.abort.label')
        i.fa-duotone.fa-times