.head
    .title(i18n='title')
    .close
        i.fa-duotone.fa-times
.content

.footer
    button(type="button")
        span Zelt
        i.fa-duotone.fa-campground
    button(type="button")
        span Licht
        i.fa-duotone.fa-lightbulb
    button(type="button")
        span Umluft
        i.fa-duotone.fa-sync
    button(type="button")
        span Abluft
        i.fa-duotone.fa-fan
    button(type="button")
        span Filter
        i.fa-duotone.fa-filter
    button(type="button")
        span Töpfe
        i.fa-duotone.fa-honey-pot
    button(type="button")
        span Erde
        i.fa-duotone.fa-mountains
    button(type="button")
        span Dünger
        i.fa-duotone.fa-flask
    button(type="button")
        span Wasser
        i.fa-duotone.fa-raindrops
    button.save(type="submit")
        span(i18n='button.save.label')
        i.fa-duotone.fa-floppy-disk
    button.close(type="button")
        span(i18n='button.abort.label')
        i.fa-duotone.fa-times