.head
    .title abluft
    .close
        i.fa-duotone.fa-times
.content

.footer
    button(type="button")
        span(i18n='button.new.label')
        i.fa-duotone.fa-plus
    button.close(type="button")
        span(i18n='button.back.label')
        i.fa-duotone.fa-arrow-left