.head
    .title(i18n='title')
    .close
        i.fa-duotone.fa-times
.content.layout
    .formRow
        label(i18n='input.columns.label')
        input(type='number' value=3 min=1 max=20)
    .formRow
        label(i18n='input.rows.label')
        input(type='number' value=3 min=1 max=20)
    h2(i18n='plants')
    table
        thead
            tr
                th Sorte
                th Züchter
                th Text
                th Feminisiert
                th(colspan=2)
        tr
            th Triple G
            td Royal Queen Seeds
            td #1
            td
                i.fa-duotone.fa-check
            td
                button
                    i.fa-duotone.fa-times
            td
                button(data-id="637ccecc19f5d7c0f7f53deb" data-modal="plant" data-reopen-url='settings/layout')
                    i.fa-duotone.fa-pencil
        tr
            th Triple G
            td Royal Queen Seeds
            td #2
            td
                i.fa-duotone.fa-check
            td
                button
                    i.fa-duotone.fa-times
            td
                button(data-id="637ccecc19f5d7c0f7f53deb" data-modal="plant" data-reopen-url='settings/layout')
                    i.fa-duotone.fa-pencil
        tr
            th Triple G
            td Royal Queen Seeds
            td #3
            td
                i.fa-duotone.fa-check
            td
                button
                    i.fa-duotone.fa-times
            td
                button(data-id="637ccecc19f5d7c0f7f53deb" data-modal="plant" data-reopen-url='settings/layout')
                    i.fa-duotone.fa-pencil
        tr
            th Triple G
            td Royal Queen Seeds
            td #4
            td
                i.fa-duotone.fa-check
            td
                button
                    i.fa-duotone.fa-times
            td
                button(data-id="637ccecc19f5d7c0f7f53deb" data-modal="plant" data-reopen-url='settings/layout')
                    i.fa-duotone.fa-pencil
        tr
            th Triple G
            td Royal Queen Seeds
            td #5
            td
                i.fa-duotone.fa-check
            td
                button
                    i.fa-duotone.fa-times
            td
                button(data-id="637ccecc19f5d7c0f7f53deb" data-modal="plant" data-reopen-url='settings/layout')
                    i.fa-duotone.fa-pencil
        tr
            th Triple G
            td Royal Queen Seeds
            td #6
            td
                i.fa-duotone.fa-check
            td
                button
                    i.fa-duotone.fa-times
            td
                button(data-id="637ccecc19f5d7c0f7f53deb" data-modal="plant" data-reopen-url='settings/layout')
                    i.fa-duotone.fa-pencil
        tr
            th Triple G
            td Royal Queen Seeds
            td #7
            td
                i.fa-duotone.fa-check
            td
                button
                    i.fa-duotone.fa-times
            td
                button(data-id="637ccecc19f5d7c0f7f53deb" data-modal="plant" data-reopen-url='settings/layout')
                    i.fa-duotone.fa-pencil
        tr
            th Triple G
            td Royal Queen Seeds
            td #8
            td
                i.fa-duotone.fa-check
            td
                button
                    i.fa-duotone.fa-times
            td
                button(data-id="637ccecc19f5d7c0f7f53deb" data-modal="plant" data-reopen-url='settings/layout')
                    i.fa-duotone.fa-pencil
        tr
            th Triple G
            td Royal Queen Seeds
            td #9
            td
                i.fa-duotone.fa-check
            td
                button
                    i.fa-duotone.fa-times
            td
                button(data-id="637ccecc19f5d7c0f7f53deb" data-modal="plant" data-reopen-url='settings/layout')
                    i.fa-duotone.fa-pencil
.footer
    button.save(type="submit")
        span(i18n='button.save.label')
        i.fa-duotone.fa-floppy-disk
    button.close(type="button")
        span(i18n='button.abort.label')
        i.fa-duotone.fa-times