.head
    .title(i18n='title')
    .close
        i.fa-duotone.fa-times
.content
    .formRow
        label(i18n='input.columns.label')
        input(type='number' value=3 min=1 max=20)
    .formRow
        label(i18n='input.rows.label')
        input(type='number' value=3 min=1 max=20)
    h2(i18n='plants')
    table(width="100%")
        tr
            td Triple G
            td Royal Queen Seeds
            td #1
            td Feminisiert
            td
                button
                    i.fa-duotone.fa-times
                button
                    i.fa-duotone.fa-pencil
        tr
            td Triple G
            td Royal Queen Seeds
            td #2
            td Feminisiert
            td
                button
                    i.fa-duotone.fa-times
                button
                    i.fa-duotone.fa-pencil
        tr
            td Triple G
            td Royal Queen Seeds
            td #3
            td Feminisiert
            td
                button
                    i.fa-duotone.fa-times
                button
                    i.fa-duotone.fa-pencil
        tr
            td Triple G
            td Royal Queen Seeds
            td #4
            td Feminisiert
            td
                button
                    i.fa-duotone.fa-times
                button
                    i.fa-duotone.fa-pencil
        tr
            td Triple G
            td Royal Queen Seeds
            td #5
            td Feminisiert
            td
                button
                    i.fa-duotone.fa-times
                button
                    i.fa-duotone.fa-pencil
        tr
            td Triple G
            td Royal Queen Seeds
            td #6
            td Feminisiert
            td
                button
                    i.fa-duotone.fa-times
                button
                    i.fa-duotone.fa-pencil
        tr
            td Triple G
            td Royal Queen Seeds
            td #7
            td Feminisiert
            td
                button
                    i.fa-duotone.fa-times
                button
                    i.fa-duotone.fa-pencil
        tr
            td Triple G
            td Royal Queen Seeds
            td #8
            td Feminisiert
            td
                button
                    i.fa-duotone.fa-times
                button
                    i.fa-duotone.fa-pencil
        tr
            td Triple G
            td Royal Queen Seeds
            td #9
            td Feminisiert
            td
                button
                    i.fa-duotone.fa-times
                button
                    i.fa-duotone.fa-pencil
.footer
    button.save(type="submit")
        span(i18n='button.save.label')
        i.fa-duotone.fa-floppy-disk
    button.close(type="button")
        span(i18n='button.abort.label')
        i.fa-duotone.fa-times