.head
    .title Einstellungen
    .close
        i.fa-duotone.fa-times
.content ...
.footer
    button.save(type="submit") Speichern
        i.fa-duotone.fa-floppy-disk
    button.close(type="button") Abbrechen
        i.fa-duotone.fa-times