.head
    .title(i18n='title')
    .close
        i.fa-duotone.fa-times
.content
    h4 Benutzer
        ul
            li Sprache
    h4 Anbauplan
        ul
            li Plan
            li neu
            li bearbeiten
    h4 Layout
        ul
            li Layout
            li neu
            li bearbeiten
    h4 Widgets
        ul
            li bearbeiten
.footer
    button.save(type="submit")
        span(i18n='button.save.label')
        i.fa-duotone.fa-floppy-disk
    button.close(type="button")
        span(i18n='button.abort.label')
        i.fa-duotone.fa-times