.head
    .title Anbauphase
    .close
        i.fa-duotone.fa-times
.content.stadium
    | ...
.footer
    button.save(type="submit")
        span(i18n='button.save.label')
        i.fa-duotone.fa-floppy-disk
    button.close(type="button")
        span(i18n='button.abort.label')
        i.fa-duotone.fa-times