.container .widgets {
	display: grid;
	grid-template-columns: 1fr 300px 300px 1fr 1fr;
	grid-template-rows: 300px 300px 1fr auto;
	gap: 10px 10px;
	grid-auto-flow: row;
	justify-content: center;
	align-content: center;
	grid-template-areas:
    "temperature_widget layout_widget layout_widget light_widget time_widget"
    "humidity_widget layout_widget layout_widget water_widget fertilizer_widget"
    "stadium_widget parameters_widget parameters_widget parameters_widget schedule_widget"
	"buttons_widget buttons_widget buttons_widget buttons_widget buttons_widget";
	.widget {
		&.empty > * {
			display: none;
			&.empty {
				display: block;
			}
		}
		.empty {
			display: none;
		}
		overflow: hidden;
		border: 1px solid rgba(255, 255, 255, 0.3);
		background: rgba(255, 255, 255, 0.3);
		backdrop-filter: blur(5px);
		border-radius: 10px;
		padding: 20px;
		color: #fff;
		label {
			font-weight: 600;
		}
		i.icon {
			font-size: 50px;
			position: absolute;
			right: 20px;
			top: 20px;
		}
		.countdown:before {
			font-family: "Font Awesome 6 Pro";
			content: "\f2f2";
			font-size: 75%;
			padding-right: 10px;
			font-weight: 100;
		}
	}
	@import "widgets/button";
	@import "widgets/fertilizer";
	@import "widgets/humidity";
	@import "widgets/layout";
	@import "widgets/light";
	@import "widgets/parameters";
	@import "widgets/schedule";
	@import "widgets/stadium";
	@import "widgets/temperature";
	@import "widgets/time";
	@import "widgets/water";
}

.container.mobile .widgets {
	display: block;
	.widget {
		width: 100%;
		box-sizing: border-box;
		margin: 0 0 20px 0;
	}
	.layout_widget {
		ul.sortable {
			margin: 0 0 0 10px;
			li.plant {
				border-radius: 10px;
				margin: 10px 10px 0 0;
				.text {
					font-size: 12px;
				}
				.name {
					font-size: 12px;
				}
				.breeder {
					display: none;
				}
				.feminized {
					display: none;
				}
			}
		}
	}
	.light_widget {
		.time {
			font-size: 30px;
		}
	}
	.schedule_widget,.parameters_widget {
		table {
			font-size: 12px;
		}
	}
	.buttons_widget {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		button {
			float: none;
			flex-grow: 1;
			border-radius: 0;
			&.settings,&.schedule,&.camera {
				border: none;
				border-right: 1px solid rgba(255,255,255,0.5);
				border-bottom: 1px solid rgba(255,255,255,0.5);
			}
		}
	}
}