.buttons_widget.widget
    button.fan
        i.fa-duotone.fa-sync.if-off
        i.fa-duotone.fa-sync.fa-spin.if-on(style="--fa-animation-duration: 5s;")
        | Umluft
    button.exhaust
        i.fa-duotone.fa-fan.if-off
        i.fa-duotone.fa-fan.fa-spin.if-on(style="--fa-animation-duration: 5s;")
        | Abluft
    button.water
        i.fa-duotone.fa-faucet.if-off
        i.fa-duotone.fa-faucet-drip.if-on
        | Bewässerung
    button.light
        i.fa-duotone.fa-lightbulb.if-off
        i.fa-duotone.fa-lightbulb-on.if-on
        | Beleuchtung
    button.settings
        i.fa-duotone.fa-gears
        | Einstellungen
    button.schedule
        i.fa-duotone.fa-calendar-check
        | Plan
    button.camera
        i.fa-duotone.fa-camera-security
        | Kamera