.fertilizer_widget.widget.empty
    i.icon.fa-duotone.fa-flask
    label(i18n='title')
    .type
    .amount
    .interval
    hr
    label(i18n='nextTitle')
    .next
    .countdown
    .empty
        i.icon.fa-duotone.fa-flask
        label(i18n='title')
        h2(i18n='empty')