.fertilizer_widget.widget.empty
    i.icon.fa-duotone.fa-flask
    label Dünger
    .type
    .amount
    .interval
    hr
    label Nächste Düngung
    .next
    .countdown
    .empty
        i.icon.fa-duotone.fa-flask
        label Dünger
        h2 kein Dünger