.light_widget.widget.empty
    i.icon.fa-duotone.fa-lightbulb.if-off
    i.icon.fa-duotone.fa-lightbulb-on.if-on(style="color:#6eff00;")
    label(i18n='title')
    .amount
    .time
    .countdown
    .type
    hr
    table
        tr
            td(i18n='source.power')
            td.power
        tr
            td(i18n='source.temperature')
            td.colorTemperature
        tr
            td(i18n='source.flux')
            td.lightFlux
    .empty
        i.icon.fa-duotone.fa-lightbulb.if-off
        label(i18n='title')
        h2(i18n='empty')