.light_widget.widget.empty
    i.icon.fa-duotone.fa-lightbulb.if-off
    i.icon.fa-duotone.fa-lightbulb-on.if-on(style="color:#6eff00;")
    label Beleuchtung
    .amount
    .time
    .countdown
    .type
    hr
    table
        tr
            td Leistung:
            td.power
        tr
            td Temperatur:
            td.colorTemperature
        tr
            td Helligkeit:
            td.lightFlux
    .empty
        i.icon.fa-duotone.fa-lightbulb.if-off
        label Beleuchtung
        h2 keine Beleuchtung