.parameters_widget.widget.empty
    table
        tr
            th(i18n='place')
            td.placeInfo
            td.placeValue
        tr
            th(i18n='exhaust')
            td.exhaustInfo
            td.exhaustValue
        tr
            th(i18n='filter')
            td.filterInfo
            td.filterValue
        tr
            th(i18n='fans')
            td.fansInfo
            td.fansValue
        tr
            th(i18n='temperature')
            td.temperatureInfo
            td.temperatureValue
        tr
            th(i18n='humidity')
            td.humidityInfo
            td.humidityValue
        tr
            th(i18n='light')
            td.lightInfo
            td.lightValue
        tr
            th(i18n='water')
            td.waterInfo
            td.waterValue
        tr
            th(i18n='fertilizer')
            td.fertilizerInfo
            td.fertilizerValue
        tr
            th(i18n='pot')
            td.potInfo
            td.potValue
        tr
            th(i18n='soil')
            td.soilInfo
            td.soilValue
    .empty
        h2(i18n='empty')