.parameters_widget.widget.empty
    table
        tr
            th Temperatur
            td.temperatureInfo
            td.temperatureValue
        tr
            th Luftfeuchtigkeit
            td.humidityInfo
            td.humidityValue
        tr
            th Beleuchtung
            td.lightInfo
            td.lightValue
        tr
            th Bewässerung
            td.waterInfo
            td.waterValue
        tr
            th Dünger
            td.fertilizerInfo
            td.fertilizerValue
        tr
            th Topf
            td.potInfo
            td.potValue
        tr
            th Medium
            td.soilInfo
            td.soilValue
    .empty
        h2 keine Parameter