.water_widget.widget.empty
    i.icon.fa-duotone.fa-faucet.if-off
    i.icon.fa-duotone.fa-faucet-drip.if-on(style="color:#00c4ff;")
    label Bewässerung
    .amount
    .duration
    .amount_per_plant
    .interval
    hr
    label Nächste Bewässerung
    .next
    .countdown
    .empty
        i.icon.fa-duotone.fa-faucet.if-off
        label Bewässerung
        h2 keine Bewässerung