.buttons_widget {
	grid-area: buttons_widget;
	align-self: self-end;
	padding: 0;
	button {
		cursor: pointer;
		i {
			color: $color;
			font-size: 40px;
			padding: 10px 0 6px 0;
		}
		&:first-child {
			border-radius: $border-radius 0 0 $border-radius;
		}
		color: $color;
		font-family: $font;
		font-size: 12px;
		display: inline-grid;
		background: $widget_button_background-color;
		border: none;
		border-right: $widget_border;
		width: 130px;
		height: 80px;
		&.on {
			border-bottom: 3px solid $color_on;
		}
		&.off {
			border-bottom: 3px solid $color_off;
		}
		&:hover {
			background: transparent;
		}
		&.settings,&.schedule,&.camera {
			border: none;
			border-left: $widget_border;
			float: right;
		}
	}
}