.parameters_widget {
	grid-area: parameters_widget;
	table {
		width: 100%;
		border-collapse: collapse;
		th {
			text-align: left;
			border-bottom: $table_border;
		}
		td {
			border-bottom: $table_border;
		}
	}
}