.schedule_widget {
	grid-area: schedule_widget;
	font-size: 15px;
	table {
		width: 100%;
		tbody {
			display: flex;
			flex-direction: column-reverse;
		}
		tr {
			display: flex;
			justify-content: space-between;
			border-bottom: $table_border;
		}
		tr.active {
			color: $color_active;
			background: $bg_active;
		}
		th {
			text-align: left;
		}
		td {
			text-align: right;
		}
	}
}